on init
    # Charger
    mount none /sbin/chargeonlymode /sbin/charger bind

    # Kernel Modules
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/wlan.ko bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/pronto/pronto_wlan.ko bind

    # Camera Blobs
    mount none /system/lib/android.frameworks.sensorservice@1.0-v27.so /vendor/lib/android.frameworks.sensorservice@1.0-v27.so bind
    mount none /system/lib/libvidhance_gyro.so /vendor/lib/libvidhance_gyro.so bind
    mount none /system/lib/hw/camera.msm8953.so /vendor/lib/hw/camera.msm8953.so bind
    mount none /system/lib64/android.frameworks.sensorservice@1.0-v27.so /vendor/lib64/android.frameworks.sensorservice@1.0-v27.so bind

    # Media Profile
    mount none /system/etc/media_profiles_V1_0.xml /vendor/etc/media_profiles_V1_0.xml bind

    # Power HAL
    mount none /system/lib/hw/power.qcom.so /vendor/lib/hw/power.qcom.so bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind

on boot
    # DT2W Node
    chown system system /proc/touchpanel/wakeup_gesture
    chmod 0660 /proc/touchpanel/wakeup_gesture
